/*

admin.css

Adds custom CSS to WordPress Admin interface

*/

.t1e-custom-config {
    padding: 0.5em;
}
    .t1e-custom-config .t1e-custom-config-element {
        padding-bottom: 1em;
    }
        .t1e-custom-config .t1e-custom-config-element input:not([type="checkbox"]):not([type="radio"]),
        .t1e-custom-config .t1e-custom-config-element select,
        .t1e-custom-config .t1e-custom-config-element textarea {
            width: 98%; /* Match WordPress settings */
        }

#poststuff .inside .t1e-custom-config .t1e-custom-config-element p {
    margin: 0.2em 0;
}

.column-post-thumbs {
    width: 75px;
}

.column-post-thumbs img {
    height: auto;
    padding: 0 0 5px 0;
}

.t1e-featured-image-template {
    font-weight: bold;
}
    .t1e-featured-image-template span {
        font-style: italic;
        font-weight: normal;
    }

.ui-datepicker {
    border: 1px solid #ddd;
    padding: 1em;
            box-sizing: border-box;
        -ms-box-sizing: border-box;
       -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /*width: 98%;*/
}
    .ui-datepicker .ui-state-default {
        border: 1px solid #ccc;
    }
    .ui-datepicker .ui-state-hover {
        background-color: #FFFBCC;
        color: #666;
    }
    .ui-datepicker .ui-state-active:hover {
        background-color: #2EA2CC;
    }
    .ui-datepicker .ui-datepicker-today a {
        color: #666;
        background-color: #ddd;
    }
    .ui-datepicker .ui-state-active {
        background-color: #0074A2 !important;
        color: white !important;
    }
    .ui-datepicker .ui-datepicker-today a.ui-state-active:hover {
        color: white;
    }

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    position: absolute;
    top: 3px;
    line-height: 1.8em;
    cursor: pointer;
    width: auto;
    height: auto;
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
    top: 3px;
}
.ui-datepicker .ui-datepicker-prev {
    left: auto;
}
.ui-datepicker .ui-datepicker-next {
    right: 0;
}
.ui-datepicker .ui-datepicker-prev-hover {
    left: auto;
}
.ui-datepicker .ui-datepicker-next-hover {
    right: 0;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
    display: inline;
    position: static;
    left: auto;
    margin-left: 0;
    padding: 0.2em 0.4em;
    top: auto;
}

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
    float: none;
}

.wp-admin .t1e-custom-config select {
    height: auto;
}

.t1e-form-table {
  border-collapse: collapse;
  width: 98%; /* Match WordPress settings */
}
  .t1e-form-table input:not([type="checkbox"]):not([type="radio"]) {
    width: 100% !important;
  }

.t1e-form-table-filepicker {
}
  .t1e-form-table-filepicker td:first-child {
    padding-right: 6px;
    width: 100%;
  }
  .t1e-form-table-filepicker td:nth-child(2) {
    padding-right: 3px;
  }
